@import 'fonts';
@import 'variables';

html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}
body {
  min-width: 320px;
  overflow-x: hidden;
  font-family: 'Roboto-Regular', Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 18px;
}
.container {
  padding: 0 20px;
}
@media (min-width: 640px) {
  .container {
    padding: 0 30px;
  }
}
@media (min-width: 768px) {
  .container {
    padding: 0 40px;
  }
}
@media (min-width: 1024px) {
  .container {
    margin: 0 auto;
    padding: 0 40px;
  }
}
@media (min-width: 1440px) {
  .container {
    max-width: 1320px;
  }
}
.header {
  background-color: $clr-accent;
  &__inner {
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.header {
  background-color: $clr-accent;
  &__inner {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 640px) {
  .header {
    background-color: $clr-accent;
    &__inner {
      height: 100px;
    }
  }
}

.logo__link {
  margin-left: 8px;
}
@media (min-width: 640px) {
  .logo__link {
    margin-left: 14px;
  }
}
@media (min-width: 768px) {
  .logo__link {
    margin-left: 0;
  }
}

.menu__btn {
  width: 40px;
  height: 40px;
  border-radius: 3px;
  background-color: #fff;
  border: none;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background-color: $clr-accent;
    top: 15px;
    left: 14px;
    box-shadow: 0 4px 0 0 $clr-accent, 0 8px 0 0 $clr-accent;
  }
}
@media (min-width: 1440px) {
  .container {
    margin-right: 90px;
  }
}

// Banner section
.banner {
  background-image: url('../images/banner-img.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 193px;
}
.top-slider {
  background: rgba(33, 33, 33, 0.5);
  &__item {
    color: #fff;
    text-align: center;
    min-height: 193px;
  }
  &__title {
    font-family: 'RobotoCondensed-Regular';
    line-height: 28px;
    font-size: 28px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 36px 0 28px;
    max-width: 243px;
    margin: 0 auto;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0 auto;
      height: 8px;
      width: 61px;
      background-color: $clr-text;
    }
  }
  // .slick-prev .slick-arrow {
  //   display: none;
  //   background-color: red;
  // }
  .slick-dots {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    .slick-active {
      button {
        background-color: transparent;
        border: 1px solid rgba(71, 110, 77, 1);
      }
    }
    button {
      font-size: 0;
      border: none;
      background-color: $clr-accent;
      padding: 0;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      margin: 0 10px;
    }
  }
  // .slick-track {
  //   display: flex;
  //   align-items: center;
  //   margin: 0 auto;
  //   min-width: 100%;
  //   transform: translate3d(0px, 0px, 0px);
  // }
}

// @media (min-width: 640px) {
//   .top-slider {
//     position: relative;
//     .slick-arrow {
//       font-size: 0;
//       position: absolute;
//       width: 30px;
//       height: 60px;
//       border: none;
//       outline: 0;
//       background-color: yellow;

//       .slick-prev {
//         left: 0;
//         background: url('../images/prev.svg') 0 0 / 100% no-repeat;
//       }
//       .slick-next {
//         right: 0;
//         background: url('../images/prev.svg') 0 0 / 100% no-repeat;
//       }
//     }
//   }
// }
