@import 'fonts';
@import 'variables';
@import 'global';

.header {
  background-color: $clr-main;
  &__inner {
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.header {
  background-color: $clr-main;
  &__inner {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 640px) {
  .header {
    background-color: $clr-main;
    &__inner {
      height: 100px;
    }
  }
}

.logo__link {
  margin-left: 8px;
}
@media (min-width: 640px) {
  .logo__link {
    margin-left: 14px;
  }
}
@media (min-width: 768px) {
  .logo__link {
    margin-left: 0;
  }
}

.menu__btn {
  width: 40px;
  height: 40px;
  border-radius: 3px;
  background-color: #fff;
  border: none;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background-color: $clr-main;
    top: 15px;
    left: 14px;
    box-shadow: 0 4px 0 0 $clr-main, 0 8px 0 0 $clr-main;
  }
}
@media (min-width: 1440px) {
  .container {
    margin-right: 90px;
  }
}

// Banner section
.banner {
  background-image: url('../images/banner-img.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 193px;
}

@media (min-width: 640px) {
  .banner {
    min-height: 386px;
    background-position: center center;
  }
}
.top-slider {
  background: rgba(33, 33, 33, 0.5);
  &__item {
    color: #fff;
    text-align: center;
    min-height: 193px;
  }
  &__title {
    font-family: 'RobotoCondensed-Regular';
    line-height: 28px;
    font-size: 28px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 36px 0 28px;
    max-width: 205px;
    margin: 0 auto;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0 auto;
      height: 8px;
      width: 61px;
      background-color: $clr-text;
    }
  }
  &__text {
    display: none;
  }

  &__btn {
    display: none;
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    .slick-active {
      button {
        background-color: transparent;
        border: 1px solid rgba(71, 110, 77, 1);
      }
    }
    button {
      font-size: 0;
      border: none;
      background-color: $clr-main;
      padding: 0;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      margin: 0 10px;
    }
  }
}
@media (min-width: 640px) {
  .top-slider {
    &__item {
      min-height: 386px;
    }
    &__title {
      line-height: 60px;
      font-size: 60px;
      font-weight: 400;
      padding: 50px 0 15px;
      max-width: 359px;
      margin: 0 auto 30px;
    }
    &__btn {
      display: block;
      background-color: $clr-main;
      color: $clr-btn;
      font-size: 18px;
      font-weight: 18px;
      margin: 0 auto 113px;
      border: none;
      border-radius: 3px;
      padding: 16px 45px;
    }
    .slick-dots {
      bottom: 50px;
    }
    .slick-arrow {
      position: absolute;
      border: 0;
      right: 0;
      width: 56px;
      height: 56px;
      z-index: 5;
    }
    .slick-prev {
      background-color: $clr-main;
      top: calc(50% - 56px);
    }
    .slick-next {
      bottom: calc(50% - 56px);
      background-color: $clr-btn;
    }
  }
}
@media (min-width: 768px) {
  .top-slider {
    &__item {
      min-height: 465px;
    }
    &__title {
      padding: 87px 0 0;
      margin: 0 auto;
      max-width: 588px;
      &::after {
        display: none;
      }
    }
    &__text {
      display: block;
      padding: 25px 0 32px;
      font-family: 'RobotoCondensed-Regular';
      line-height: 20px;
      font-size: 18px;
      font-weight: 400;
      max-width: 587px;
      margin: 0 auto;
    }
  }
}

@media (min-width: 1024px) {
  .top-slider {
    &__item {
      min-height: 618px;
    }
    &__title {
      font-size: 84px;
      line-height: 84px;
      padding: 101px 0 29px;
      letter-spacing: 2px;
      max-width: 588px;
    }
    .slick-dots {
      bottom: 80px;
    }
  }
}

@media (min-width: 1440px) {
  .top-slider {
    &__item {
      min-height: 668px;
    }
    &__title {
      font-size: 96px;
      line-height: 96px;
      padding: 107px 0 18px;
      letter-spacing: 2px;
      max-width: 513px;
    }
    .slick-dots {
      bottom: 78px;
    }
    .slick-arrow {
      width: 70px;
      height: 70px;
    }
    .slick-prev {
      top: calc(50% - 70px);
    }
    .slick-next {
      bottom: calc(50% - 70px);
    }
  }
}

// Contacts section
.contact {
  background-color: $clr-main;
  padding: 40px 0;
  color: #fff;
  text-align: center;
  &__title {
    font-family: 'Roboto-Medium';
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
  }
  &__text {
    font-family: 'Dosis-Light';
    font-size: 16px;
    font-weight: 300;
    line-height: 18px;
    margin: 10px 0 40px;
  }
  &__btn {
    height: 50px;
    width: 200px;
    border: none;
    background-color: $clr-btn;
    color: $clr-main;
    padding: 16px 15px;
    border-radius: 3px;
  }
}

@media (min-width: 768px) {
  .contact {
    text-align: left;
    &__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__box {
      max-width: 427px;
    }
    &__text {
      margin-bottom: 0;
      // max-width: 36ch;
    }
  }
}
@media (min-width: 1024px) {
  &__box {
    max-width: 695px;
  }
}
@media (min-width: 1440px) {
  &__inner {
    padding: 0 80px;
  }
  &__box {
    max-width: 796px;
  }
}

// Services section
.services {
  padding: 25px 0 31px;
  text-align: center;
  &__title {
    margin-bottom: 49px;
    color: $clr-main;
  }
  &__description {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 24px;
    color: $clr-text;
  }
  &__text {
    color: $clr-accent;
    font-size: 15px;
    line-height: 17px;
    margin-bottom: 40px;
  }
  &__item {
    min-height: 310px;
    border: 1px solid $clr-btn;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__item-img {
    margin-bottom: 30px;
    display: block;
    background-color: $clr-main;
  }
  &__title {
    @extend %robotocon-700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2px;
    color: $clr-text;
  }
}
